<section class="py-4">
  <h3 class="text-center mt-4">
    Reset Your Password
  </h3>
  <form class="w-50 mx-auto" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <label for="forgetEmail">Email</label>
    <input [ngClass]="resetForm.get('email')?.invalid && resetForm.get('email')?.touched ? 'error' : ''" type="email"
      id="email" placeholder="Email..." class="form-control mt-2 mb-2 border-0 border-bottom rounded-0 px-1 py-2"
      formControlName="email" />
    <div *ngIf="
      resetForm.get('email')?.invalid && resetForm.get('email')?.touched
    " class="text-danger mb-3">
      <p *ngIf="resetForm.get('email')?.getError('required')" class="mb-0">
        required
      </p>
      <p *ngIf="resetForm.get('email')?.getError('pattern')" class="mb-0">
        Enter Valid Email
      </p>
    </div>

    <label for="newPassword">Password</label>
    <input [ngClass]="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched ? 'error' : ''"
      type="password" id="newPassword" placeholder="newPassword..."
      class="form-control mt-2 mb-2 border-0 border-bottom rounded-0 px-1 py-2" formControlName="newPassword" />
    <div *ngIf="
            resetForm.get('newPassword')?.invalid &&
            resetForm.get('newPassword')?.touched
          " class="text-danger mb-3">
      <p *ngIf="resetForm.get('newPassword')?.getError('required')" class="mb-0 ">
        required
      </p>
    </div>

    <button class="btn main-btn  mt-2" type="submit" [disabled]="resetForm.invalid">
      submit
    </button>

  </form>
</section>