<section class="py-4">
  <h3 class="text-center mt-4">
    Enter Your Email
  </h3>
  <form class="w-50 mx-auto" [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <label for="forgetEmail">Email</label>
    <input [ngClass]="forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched ? 'error' : ''" type="email"
      id="forgetEmail" placeholder="Email..." class="form-control mt-2 mb-2 border-0 border-bottom rounded-0 px-1 py-2"
      formControlName="email" />
    <div *ngIf="
      forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched
    " class="text-danger mb-3">
      <p *ngIf="forgetForm.get('email')?.getError('required')" class="mb-0">
        required
      </p>
      <p *ngIf="forgetForm.get('email')?.getError('pattern')" class="mb-0">
        Enter Valid Email
      </p>
    </div>

    <button class="btn main-btn  mt-2" type="submit" [disabled]="forgetForm.invalid">
      Send Code
    </button>

  </form>
</section>