<section class="container mt-5">
  <div class="row mb-5">
    <div class="col-md-9 p-0 mb-4 mb-md-0 home-slider">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            style="max-height: 360px"
            src="./assets/imgs/banner1.jpg"
            alt="slider image"
            class="img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            style="max-height: 360px"
            src="./assets/imgs/banner2.jpg"
            alt="slider image"
            class="img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            style="max-height: 360px"
            src="./assets/imgs/banner3.jpg"
            alt="slider image"
            class="img-fluid"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3 p-0">
      <img
        style="max-height: 180px; height: 180px"
        src="./assets/imgs/img1.jpg"
        alt="home image"
        class="w-100"
      />
      <img
        style="max-height: 180px; height: 180px"
        src="./assets/imgs/img2.jpg"
        alt="home image"
        class="w-100"
      />
    </div>
  </div>

  <div class="categories slider mb-5">
    <div class="d-flex align-items-start justify-content-between">
      <h3 class="mb-4 text-uppercase">shop categories</h3>
      <a
        [routerLink]="['/categories']"
        class="text-main fs-5 text-decoration-none fw-medium"
        >See All</a
      >
    </div>
    <owl-carousel-o [options]="categoriesOptions">
      <ng-container *ngFor="let category of categories">
        <ng-template carouselSlide>
          <div class="category">
            <img [src]="category.image" alt="category image" class="w-100" />
            <p class="my-2">{{ category.name }}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="best-sellers slider">
    <h3 class="mb-2 text-uppercase">best sellers</h3>
    <owl-carousel-o [options]="bestSellerOptions">
      <ng-container *ngFor="let product of products | bestSeller">
        <ng-template carouselSlide>
          <div class="p-3">
            <app-product [product]="product"></app-product>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
