.actions {
  .social {
    & svg {
      transition: var(--transition);
      -webkit-transition: var(---transition);
      -moz-transition: var(---transition);
      -ms-transition: var(---transition);
      -o-transition: var(---transition);
    }
    & svg:hover {
      color: var(--main-color);
    }
  }
  .btns {
    & button:hover {
      background-color: var(--light-color);
      color: var(--main-color) !important;
      border: 1px solid var(--main-color);
    }
  }
  .cart-icon {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  .link-badge {
    width: 18px;
    height: 18px;
    top: 0;
    left: -10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
  }
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
