<section class="brands py-5">
  <h2 class="text-main text-center mb-4">All Brands</h2>

  <div class="container">
    <div class="row row-gap-4">
      <div *ngFor="let brand of brands" class="col-md-3">
        <div class="card text-center">
          <img class="card-img-top" [src]="brand.image" alt="brand" />
          <div class="card-body">
            <h5 class="card-title">{{ brand.name }}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li (click)="prevPage()" class="page-item pointer">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            (click)="getAllBrands(i + 1)"
            *ngFor="let item of PagesNum(numberOfPages); let i = index"
            class="page-item pointer"
          >
            <a class="page-link">{{ i + 1 }}</a>
          </li>

          <li (click)="nextPage()" class="page-item pointer">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
